<h1>Capture a Wild Pokemon!</h1>

<form action="/pokedex" method = "POST">
  <p>Name: </p><input type="text" name="pokemon[name]">
  <p>Combat Power: </p><input type="text" name="pokemon[cp]">
  <p>Pokemon Type: </p><input type="text" name="pokemon[poke_type]">
  <p>Photo: </p><input type="text" name="pokemon[img_url]"><br/>
  <input id="submit" type="submit" value="Submit">
</form>
