<h1>Welcome to PokeWorld</h1>
<main>
<div class="pokemon">
  <a href='/pokedex'><img src="../images/pokedex.png"></a>
  <h3>Pokedex</h3>
</div>
<div class="pokemon"><a href='/trainers'><img src="http://img11.deviantart.net/486f/i/2016/231/c/d/ash__ag___aura__brock__max_y_pokemon__02__by_adfpf1-d83jkk6.png"></a>
<h3>Trainers</h3>
</div>
</main>
