<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/pokestyle.css">
  <title>Juliet's PokeWorld</title>
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/catch_new">Catch 'em all!</a>
    <a href='/pokedex'>Pokedex</a>
    <a href='/trainers'>Trainers</a>
  </nav>
  <main>
  <%= yield %>
  </main>
</body>
</html>
